workflows/Translate audio using AI.json
{
  "active": false,
  "connections": {
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Translate Text to English",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Translate Text to English",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate French Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate Text to English": {
      "main": [
        [
          {
            "node": "Translate English text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ElevenLabs voice ID and text": {
      "main": [
        [
          {
            "node": "Generate French Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set ElevenLabs voice ID and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-30T17:22:39.135Z",
  "id": "Y2ax5NJr9I0DmLIA",
  "meta": {
    "templateId": "2083"
  },
  "name": "Translate audio using AI",
  "nodes": [
    {
      "parameters": {
        "options": {
          "temperature": 0
        },
        "requestOptions": {}
      },
      "id": "aa0c62d1-2a5e-4336-8783-a8a21cb23374",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1400,
        726.8778839327408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0c7d21e6-5bf6-4927-ad23-008b22e2ffde",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        500,
        526.8778839327408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "optimize_streaming_latency",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\":\"{{ $json.text }}\",\"model_id\":\"eleven_multilingual_v2\",\"voice_settings\":{\"stability\":0.5,\"similarity_boost\":0.5}}",
        "options": {}
      },
      "id": "352de912-3a36-4bf2-b013-b46e0ace38e9",
      "name": "Generate French Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        940,
        526.8778839327408
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "voice_id",
              "stringValue": "wl7sZxfTOitHVachQiUm"
            },
            {
              "name": "text",
              "stringValue": "=Après, on a fait la sieste, Camille a travaillé pour French Today et j’ai étudié un peu, et puis Camille a proposé de suivre une visite guidée de l’Abbaye de Beauport qui commençait à 17 heures. On a marché environ vingt minutes, et je m’arrêtais souvent pour prendre des photos : la baie de Paimpol est si jolie ! Mais Camille m’a dit : « Dépêche-toi Sunny ! La visite guidée commence dans cinq minutes. » Donc, j’ai bougé mes fesses et on est arrivées à l’abbaye"
            }
          ]
        },
        "options": {}
      },
      "id": "0cde2e89-0669-41b4-8fe1-1a6aff14792f",
      "name": "Set ElevenLabs voice ID and text",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        526.8778839327408
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "prompt": "=Translate to English:\n{{ $json.text }}"
      },
      "id": "38aa323e-a899-4018-afb9-4d4682ac8ff1",
      "name": "Translate Text to English",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1400,
        526.8778839327408
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $('Set ElevenLabs voice ID and text').item.json.voice_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "optimize_streaming_latency",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\":\"{{ $json[\"text\"].replaceAll('\"', '\\\\\"').trim() }}\",\"model_id\":\"eleven_multilingual_v2\",\"voice_settings\":{\"stability\":0.5,\"similarity_boost\":0.5}}",
        "options": {}
      },
      "id": "f0b7adad-fa0b-4764-96e0-0883bbcc02d6",
      "name": "Translate English text to speech",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1760,
        526.8778839327408
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            }
          ]
        },
        "options": {}
      },
      "id": "f8700266-5491-4ca7-b29a-3f5ec1e9b66f",
      "name": "Transcribe Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1180,
        526.8778839327408
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "content": "1] In ElevenLabs, add a voice to your [voice lab](https://elevenlabs.io/voice-lab) and copy its ID. Open this node and add the ID there",
        "height": 420.623805972039,
        "width": 199.37543798209555,
        "color": 7
      },
      "id": "25630b45-3827-4ee0-a77e-c30cadefe999",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        669.2637232176971,
        286.6726339645802
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "2] Get your ElevenLabs API key (click your name in the bottom-left of [ElevenLabs](https://elevenlabs.io/voice-lab) and choose ‘profile’)\n\nIn this node, create a new header auth cred. Set the name to `xi-api-key` and the value to your API key",
        "height": 418.3754668433847,
        "width": 192.21792012722693,
        "color": 7
      },
      "id": "a41d2622-4476-44c2-bac6-212be237aa4b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        286.8778839327409
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "3] In the 'credential' field of this node, create a new OpenAI cred with your [OpenAI API key](https://platform.openai.com/api-keys)",
        "height": 414.59045768149747,
        "width": 192.21792012722693,
        "color": 7
      },
      "id": "58143bb1-816f-4ff6-9cac-9ce7765e02be",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1140,
        286.8778839327409
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### About\nThis workflow takes some French text, and translates it into spoken audio.\n\nIt then transcribes that audio back into text, translates it into English and generates an audio file of the English text",
        "height": 233.3354221029769,
        "width": 230.39134868652621,
        "color": 7
      },
      "id": "bd2ef5d2-c27d-45e4-a66e-a73168f94087",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Setup steps",
        "height": 478.0993479050163,
        "width": 685.8541178336201,
        "color": 7
      },
      "id": "a1f207d4-dbed-4dfa-aad5-2b2f6e4e6271",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        239.30786560896644
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-06-30T17:22:39.135Z",
  "versionId": "a5a16b00-b75d-4d8f-9b65-7e6002bd0f75"
}